*{
    background-color: rgb(232, 180, 248);
    font-family: 'Dancing Script', cursive;
    font-family: 'Prompt', sans-serif;
}
header>div>h1{
    display: flex;
    justify-content: center;
    align-items: center;
}
#divInputGrupo{
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#inputGrupo{
    border: 1px solid white;
    border-radius: 5px;
    background-color: aliceblue;
    height: 20px;
    width: 220px;
    box-shadow: 1px 1px 10px #ffffff;
}
#inputGrupo:focus{
    outline: none;
}
#listaGrupos{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: fit-content;
    width: 50%;
    margin-left: 25%;
    font-family: 'Dancing Script', cursive;
    font-family: 'Prompt', sans-serif;
    font-weight: 400;
}
.grupo{
    margin-top: 20px;
    margin-left: 5px;
    margin-right: 5px;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 220px;
    border-radius: 5px;
    font-size: 14px;
    box-shadow: 1px 1px 10px #a1a1a1;
}
.grupo:hover{
    background-color: rgb(98, 159, 250);
    color: aliceblue;
    cursor: pointer;
    scale: 1.2;
    transition: 300ms;
}
#nombreGrupo{
    background-color: inherit;
}
#listaCanciones{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: fit-content;
    width: 50%;
    margin-left: 25%;
    font-family: 'Dancing Script', cursive;
    font-family: 'Prompt', sans-serif;
    font-weight: 400;
}
.cancion{
    margin-top: 20px;
    margin-left: 5px;
    margin-right: 5px;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    word-break: break-all;
    height: 60px;
    width: 220px;
    border-radius: 5px;
    font-size: 14px;
    box-shadow: 1px 1px 10px #a1a1a1;
}
.cancion:hover{
    background-color: rgb(98, 159, 250);
    color: aliceblue;
    cursor: pointer;
    scale: 1.2;
    transition: 300ms;
}
#nombreCancion{
    background-color: inherit;
}